@model List<Livro>
@{
    ViewData["Title"] = "Listagem de Livros";


    //recuperar os dados da controller
    int filtroPorPag = Int32.Parse(ViewData["livrosPorPagina"].ToString());
    int paginaAtual = Int32.Parse(ViewData["paginaAtual"].ToString());

    int numLivrosPorPag = (Model.Count<filtroPorPag ? Model.Count : filtroPorPag);
   
    int numTotalDePag = 0;
    @if (numLivrosPorPag > 0) {    
        numTotalDePag = Model.Count/numLivrosPorPag + (Model.Count%numLivrosPorPag==0 ? 0 :1);
   }
}
<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Autor">Autor</option>
                <option value="Titulo">Título</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        
        <div>
            <select name="itensPorPagina" id= "itensPorPagina">
                <option value ="10"> 10 livros</option>
                <option value ="20"> 20 livros</option>
                <option value ="30"> 30 livros</option>
                <option value =@Model.Count>Todos os livros</option>
            </select>
        </div>


        <button type="submit" class="ml-3 btn btn-primary mb-2">Pesquisar</button> 


        @* <div id="SeletorPaginas" class="ml-2">
            <span>Página: </span>
            @for(int i=1; i<numTotalDePag; i++){
                <span> <a href="/Livro/Listagem?paginaAtual=@i" class="border p-1">@i</a> </span>
            } 
        </div> *@

    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
        @if(Model.Count > 0)
        {
            <thead>
                <tr><th>Id</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                @for(int i = (paginaAtual-1)*numLivrosPorPag; i<(numLivrosPorPag*paginaAtual<Model.Count? numLivrosPorPag*paginaAtual : Model.Count); i++)
                {
                <tr>
                    <td>@Model[i].Id</td>
                    <td>@Model[i].Titulo</td>
                    <td>@Model[i].Autor</td>
                    <td>@Model[i].Ano</td>
                    <td><a href="/Livro/Edicao/@Model[i].Id">Editar</a></td>
                </tr>
                }
            </tbody>
        }
        else
        {
            <p>Nenhum livro encontrado.</p>
        }

        

        </table>

         <div id="SeletorPaginas" class="d-flex justify-content-center">
            <span>Página: </span>
            @for(int i=1; i<numTotalDePag; i++){
                <span> <a href="/Livro/Listagem?paginaAtual=@i" class="ml-2 border border-secondary p-1 rounded">@i </a> </span>
            } 
        </div>
    </div>
</div>